<!-- Modal -->
<div id="jobPublicInfo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> 任务发布</h4>
      </div>
      <div class="content">
        <form id="form_text">
          <div style="width:200px; margin-top: 30px" class="form-group">
            <input id="title" name="title" class="form-control" type="text" value="" placeholder="title">

          </div>
          <div style="width:550px; height: 240px; auto;">
          <textarea id="content" name="content" style="height: 100%;width: 100%"  placeholder="Type your text here...">
          </textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default btn-sm" onclick="publicJob('<%= jobName %>')">发布</button>
      </div>
    </div>
  </div>
</div>