.divider {
  border-top: 1px solid #7c7c7c;
}

.table > tbody > tr > td {
  vertical-align: middle;
}


.disabled {
  pointer-events: none;
  color: silver;
  cursor: default;
}

.btn-group-sm>.btn, .btn-sm{
  padding: 1px 5px!important;
}
