<!--
<section class="content-header"><%= breadcrumb({ breadcrumbTitle: "Resources" }) %></section>
-->

<section class="content">
    <div class="box">
        <div id="modalPlaceHolder" class="box-body" />
        <div id="view-table" class="box-body">
            <%= resourceTable({ resources: [] }) %>
        </div>
    </div>
    <%= loading() %>
</section>