<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <form id="form-change-password" class="form-change-password">
          <!--<h2 class="form-change-password-heading">Change password</h2>-->
          <label for="inputOldPassword">原密码</label>
          <input type="password" name="old-password" id="input-old-password" class="form-control" placeholder="必填">
          <label for="inputNewPassword">新密码</label>
          <input type="password" name="new-password" id="input-new-password" class="form-control" placeholder="必填">
          <label for="inputNewPasswordConfirm">确认新密码</label>
          <input type="password" name="new-password-confirm" id="input-new-password-confirm" class="form-control" placeholder="必填,并与新密码保持一致">
          <br>
          <button class="btn btn-lg btn-primary btn-block">确认修改</button>
          <div id="err_txt">

          </div>
        </form>
      </div>
    </div>
  </div>
</section>