
<section class="content">
  <h1><center>发布文章</center></h1>
<form id="form_text">
  <div style="width:400px; margin-left: 507px;margin-top: 30px" class="form-group">
    <label class=" control-label">标题</label>
    <input id="title" name="title" class="form-control" type="text" value="" placeholder="title">
    <input id="version" name="version" class="form-control" type="text" style="display: none">
  </div>
  <div style="width:860px; margin: 30px auto;">
    <label class=" control-label">正文</label>
  <textarea id="content" name="content" style="height: 60%;width: 100%"  placeholder="Type your text here...">

  </textarea>
      <button class="" style="border-right: 30%;float: right">发 布</button>
  </div>
</form>
</section>