//  *********************
//    2018-11-01
//  *********************
.form-control:focus{
  border-color: #66afe9!important;
  outline: 0!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)!important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)!important;
}
.submit-wra{
  padding: 40px 32px 130px 48px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(211,214,220,.78);
  -webkit-box-shadow: 0 2px 4px 0 rgba(211,214,220,.78);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  font-family: "PingFangSC-Medium";
  box-sizing: border-box;
  .head{
    width: 100%;
    height: 40px;
    font-size: 0;
    .image{
      display: inline-block;
      width: 40px;
      height: 40px;
    }
    .title{
      display: inline-block;
      width: 116px;
      height: 40px;
      line-height: 40px;
      font-size: 24px;
      color: #2D2F3B;
      letter-spacing: 0;
      text-align: center;
      vertical-align: top;
    }
    .des{
      display: inline-block;
      width: 164px;
      height: 40px;
      line-height: 40px;
      font-size: 12px;
      color: #BDC3C7;
      letter-spacing: 0;
      text-align: right;
      vertical-align: top;
    }
    .wra{
      display: inline-block;
      height: 40px;
      padding-top: 6px;
      font-size: 0;
      vertical-align: top;
      .item{
        display: inline-block;
        width: 80px;
        height: 28px;
        margin-right: 10px;
        line-height: 28px;
        text-align: center;
        background: #F8F8F8;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 12px;
        color: #999999;
        letter-spacing: 0;
      }
      :hover{
        background: #FFF6D0;
        color: #FF9500;
      }
    }
  }
  .body{
    width: 100%;
    padding-top: 40px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    .content_{
      flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      padding-right: 50px;
      .job{
        width: 100%;
        padding-bottom: 6px;
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        .info{
          flex: 1;
          -webkit-flex: 1;
          -moz-flex: 1;
          -ms-flex: 1;
          padding-right: 22px;
          font-size: 0;
          .item1{
            width: 100%!important;
            padding-bottom: 18px;
            .tit{
              display: block;
              height: 28px;
              line-height: 20px;
              font-size: 14px;
              color: #2D2F3B;
              letter-spacing: 0;
              text-align: left;
              font-weight: 600;
            }
            .con{
              width: 100%;
              height: 40px;
              border: 1px solid #DDDFE0;
              border-radius: 4px;
              -webkit-border-radius: 4px;
              color: #333;
              font-size: 14px;
            }
            .unfilled{
              border: 1px solid #f00;
            }
          }
          .item2{
            display: inline-block;
            width: 32%;
            padding-bottom: 18px;
            .title-wra{
              height: 28px;
              font-size: 0;
              .title{
                display: inline-block;
                height: 28px;
                line-height: 20px;
                padding-right: 6px;
                font-size: 14px;
                color: #2d2f3b;
                letter-spacing: 0;
                text-align: left;
                font-weight: 600;
              }
              .icon-wra{
                position: relative;
                display: inline-block;
                .icon{
                  display: inline-block;
                  width: 14px;
                  height: 14px;
                  line-height: 14px;
                  text-align: center;
                  background: #ffd93f;
                  color: #fff;
                  font-size: 12px;
                  font-style: normal;
                  border-radius: 50%;
                  -webkit-border-radius: 50%;
                  cursor: pointer;
                }
                .icon-spe{
                  background: #ffac16;
                }
                .tips{
                  display: inline-block;
                  display: none;
                  position: absolute;
                  top: -6px;
                  left: 26px;
                  z-index: 111;
                  width: 100px;
                  height: 24px;
                  line-height: 24px;
                  font-size: 12px;
                  color: #FFFFFF;
                  text-align: center;
                  background: #404040;
                  border-radius: 4px;
                  -webkit-border-radius: 4px;
                  &:after{
                    position: absolute;
                    top: 2px;
                    left: -8px;
                    display: block;
                    content: "";
                    width: 0;
                    height: 0;
                    border-right: 10px solid #404040;
                    border-top: 10px solid transparent;
                    border-bottom: 4px solid transparent;
                  }
                }
              }
            }
            .con{
              width: 100%;
              height: 40px;
              border: 1px solid #dddfe0;
              border-radius: 4px;
              -webkit-border-radius: 4px;
              color: #333;
              font-size: 14px;
            }
            .unfilled{
              border: 1px solid #f00;
            }
          }
          .item2:nth-child(2n){
            margin-right: 8%;
          }
          .item-image{
            position: relative;
            width: 100%;
            &:after{
              content: "";
              position: absolute;
              top: 50%;
              right: 8px;
              z-index: 111;
              border-top: 6px solid #333;
              border-left: 3px solid transparent;
              border-right: 3px solid transparent;
            }
            .images{
              display: none;
              position: absolute;
              top: 72px;
              left: 0;
              z-index: 111;
              width: 100%;
              max-height: 350px;
              overflow-y: auto;
              background: #fff;
              border: 1px solid #1d79fc;
              border-radius: 6px;
              .image{
                display: flex;
                align-items: center;
                height: 32px;
                line-height: 12px;
                padding-left: 8px;
                font-size: 12px;
                color: #333;
                cursor: pointer;
                &:hover{
                  color: #fff;
                  background: #1d79fc;
                }
              }
            }
          }
        }
        .desc{
          flex: 0 0 250px;
          -webkit-flex: 0 0 250px;
          -moz-flex: 0 0 250px;
          -ms-flex: 0 0 250px;
          height: 240px;
          .title-wra{
            height: 28px;
            font-size: 0;
            .title{
              display: inline-block;
              height: 28px;
              line-height: 20px;
              padding-right: 6px;
              font-size: 14px;
              color: #2d2f3b;
              letter-spacing: 0;
              text-align: left;
              font-weight: 600;
            }
            .icon-wra{
              position: relative;
              display: inline-block;
              .icon{
                display: inline-block;
                width: 14px;
                height: 14px;
                line-height: 14px;
                text-align: center;
                background: #ffd93f;
                color: #fff;
                font-size: 12px;
                font-style: normal;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                cursor: pointer;
              }
              .tips{
                display: inline-block;
                display: none;
                position: absolute;
                top: -6px;
                left: 26px;
                z-index: 111;
                width: 100px;
                height: 24px;
                line-height: 24px;
                font-size: 12px;
                color: #FFFFFF;
                text-align: center;
                background: #404040;
                border-radius: 4px;
                &:after{
                  position: absolute;
                  top: 2px;
                  left: -8px;
                  display: block;
                  content: "";
                  width: 0;
                  height: 0;
                  border-right: 10px solid #404040;
                  border-top: 10px solid transparent;
                  border-bottom: 4px solid transparent;
                }
              }
            }
          }
          .con{
            display: block;
            width: 100%;
            height: 212px;
            font-size: 14px;
            color: #333;
            line-height: 20px;
            border: 1px solid #DDDFE0;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            resize:none;
          }
        }
      }
      .line{
        width: 100%;
        padding-bottom: 18px;
        border-top: 1px solid #ECF0F1;
      }
      .task{
        width: 100%;
        display: flex;
        .navs{
          position: relative;
          flex: 0 0 150px;
          -webkit-flex: 0 0 150px;
          -moz-flex: 0 0 150px;
          -ms-flex: 0 0 150px;
          padding: 12px 0;
          background: #F5F5F5;
          ul{
            padding: 0;
            margin: 0;
            height: 220px;
            overflow-y: auto;
            .task-item{
              width: 100%;
              height: 34px;
              padding: 0 10px 0 18px;
              font-size: 0;
              user-select: none;
              cursor: pointer;
              .name{
                display: inline-block;
                width: 90%;
                height: 34px;
                line-height: 34px;
                font-size: 14px;
                color: #34495E;
              }
              .del{
                display: none;
                width: 10%;
                height: 34px;
                line-height: 34px;
                line-height: 34px;
                text-align: right;
                font-size: 12px;
                color: #333;
                font-style: normal;
                font-weight: 600;
              }
              &:hover{
                background: #FFED9A;
                .del{
                  display: inline-block;
                }
              }
            }
            .active{
              background: #FFED9A;
              &:hover{
                background: #FFED9A;
                .del{
                  display: inline-block;
                }
              }
            }
          }
          .add-btn{
            position: absolute;
            bottom: 10px;
            left: 50%;
            width: 112px;
            height: 34px;
            margin-left: -56px;
            text-align: center;
            background: #E6E6E6;
            border-radius: 6px;
            cursor: pointer;
            .icon{
              display: inline-block;
              height: 34px;
              line-height: 34px;
              font-size: 16px;
              color: #444;
              font-style: normal;
              font-weight: 600;
            }
            .add-con{
              display: inline-block;
              height: 34px;
              line-height: 34px;
              font-size: 12px;
              color: #2D2F3B;
              user-select: none;
            }
          }
        }
        .con-son{
          flex: 1;
          -webkit-flex: 1;
          -moz-flex: 1;
          -ms-flex: 1;
          padding-left: 18px;
          font-size: 0;
          .son-item1{
            position: relative;
            display: inline-block;
            width: 24%;
            padding-bottom: 18px;
            .title-wra{
              height: 28px;
              font-size: 0;
              .title{
                display: inline-block;
                height: 28px;
                line-height: 20px;
                padding-right: 6px;
                font-size: 14px;
                color: #2d2f3b;
                letter-spacing: 0;
                text-align: left;
                font-weight: 600;
              }
              .icon-wra{
                position: relative;
                display: inline-block;
                .icon{
                  display: inline-block;
                  width: 14px;
                  height: 14px;
                  line-height: 14px;
                  text-align: center;
                  background: #ffd93f;
                  color: #fff;
                  font-size: 12px;
                  font-style: normal;
                  border-radius: 50%;
                  cursor: pointer;
                }
                .icon-spe{
                  background: #ffac16;
                }
                .tips{
                  display: inline-block;
                  display: none;
                  position: absolute;
                  top: -6px;
                  left: 26px;
                  z-index: 111;
                  width: 100px;
                  height: 24px;
                  line-height: 24px;
                  font-size: 12px;
                  color: #fff;
                  text-align: center;
                  background: #404040;
                  border-radius: 4px;
                  -webkit-border-radius: 4px;
                  &:after{
                    position: absolute;
                    top: 2px;
                    left: -8px;
                    display: block;
                    content: "";
                    width: 0;
                    height: 0;
                    border-right: 10px solid #404040;
                    border-top: 10px solid transparent;
                    border-bottom: 4px solid transparent;
                  }
                }
              }
            }
            .son-val{
              width: 100%;
              height: 40px;
              border: 1px solid #dddfe0;
              border-radius: 4px;
              -webkit-border-radius: 4px;
              color: #333;
              font-size: 14px;
            }
            .unfilled{
              border: 1px solid #f00;
            }
            .company{
              position: absolute;
              top: 29px;
              right: 1px;
              display: block;
              width: 38px;
              height: 38px;
              line-height: 40px;
              text-align: center;
              background: #F4F4F5;
              border-radius: 0 4px 4px 0;
              -webkit-border-radius: 0 4px 4px 0;
              font-size: 14px;
              color: #34495E;
            }
          }
          .son-item-spe{
            margin-right: 1.33%;
          }
          .son-item2{
            display: inline-block;
            width: 100%!important;
            padding-bottom: 0!important;
            vertical-align: top;
            .title{
              display: block;
              height: 28px;
              line-height: 20px;
              font-size: 14px;
              color: #2d2f3b;
              letter-spacing: 0;
              text-align: left;
              font-weight: 600;
            }
            .commond{
              display: block;
              width: 100%;
              height: 78px;
              font-size: 14px;
              color: #333;
              line-height: 20px;
              border: 1px solid #dddfe0;
              -webkit-border-radius: 4px;
              border-radius: 4px;
              resize: none;
            }
            .unfilled{
              border: 1px solid #f00;
            }
          }
        }
      }
    }
    .des{
      flex: 0 0 252px;
      height: 560px;
      padding: 20px 12px 20px 20px;
      background: #F8F8F8;
      .head{
        width: 100%;
        font-size: 0;
        .icon{
          display: inline-block;
          width: 24px;
          height: 24px;
          line-height: 24px;
          text-align: center;
          font-style: normal;
          background: #FFD93F;
          font-size: 16px;
          color: #fff;
          border-radius: 50%;
        }
        .title{
          display: inline-block;
          height: 24px;
          line-height: 24px;
          padding-left: 14px;
          font-size: 18px;
          color: #2D2F3B;
          font-weight: 600;
        }
      }
      .con-hd{
        padding-top: 36px;
        dt{
          height: 30px;
          line-height: 16px;
          font-size: 14px;
          color: #2D2F3B;
          letter-spacing: 0;
        }
        dd{
          line-height: 20px;
          font-size: 12px;
          color: #999999;
          letter-spacing: 0;
        }
      }
      .con-bd{
        padding-top: 24px;
        dt{
          height: 30px;
          line-height: 16px;
          font-size: 14px;
          color: #2D2F3B;
          letter-spacing: 0;
        }
        dd{
          line-height: 20px;
          padding-bottom: 10px;
          font-size: 12px;
          color: #999999;
        }
      }
    }
  }
  .submit{
    position: relative;
    width: 100%;
    padding-top: 70px;
    .submit-file{
      position: absolute;
      top: 70px;
      left: 0;
      .file-btn{
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        background-image: linear-gradient(-90deg,#5162d1,#4495f6);
        background-image: -webkit-linear-gradient(-90deg,#5162d1,#4495f6);
        background-image: -moz-linear-gradient(-90deg,#5162d1,#4495f6);
        background-image: -ms-linear-gradient(-90deg,#5162d1,#4495f6);
        border-radius: 6px;
        border: none;
      }
      .file{
        opacity: 0;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 40px;
      }
      .export{
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        background-image: linear-gradient(-90deg,#5162d1,#4495f6);
        background-image: -webkit-linear-gradient(-90deg,#5162d1,#4495f6);
        background-image: -moz-linear-gradient(-90deg,#5162d1,#4495f6);
        background-image: -ms-linear-gradient(-90deg,#5162d1,#4495f6);
        border-radius: 6px;
        -webkit-border-radius: 6px;
        border: none;
      }
    }
    .submit-btn{
      display: block;
      width: 220px;
      height: 44px;
      line-height: 44px;
      margin: 0 auto;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
      background-image: linear-gradient(-90deg, #5162D1 0%, #4495F6 100%);
      background-image: -webkit-linear-gradient(-90deg, #5162D1 0%, #4495F6 100%);
      background-image: -moz-linear-gradient(-90deg, #5162D1 0%, #4495F6 100%);
      background-image: -ms-linear-gradient(-90deg, #5162D1 0%, #4495F6 100%);
      border: none;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      user-select: none;
      &:active{
        background-image: linear-gradient(-90deg, #5140D1 0%, #4460F6 100%);
        background-image: -webkit-linear-gradient(-90deg, #5140D1 0%, #4460F6 100%);
        background-image: -moz-linear-gradient(-90deg, #5140D1 0%, #4460F6 100%);
        background-image: -ms-linear-gradient(-90deg, #5140D1 0%, #4460F6 100%);
      }
    }
  }
  .popup-custom{
    display: none;
    position: fixed;
    top: 110px;
    left: 50%;
    z-index: 2222;
    min-width: 120px;
    padding: 16px 10px;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.6);
  }
  .mask_{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
  }
}
@media screen and (max-width: 1490px) {
  .submit-wra .body .content_ .task .con-son .son-item1{
    width: 46%;
  }
}
