
<section class="content">
  <div class="submit-wra">
    <div class="head">
      <img class="image" src="assets/img/icon-task.png" alt="icon">
      <span class="title">创建任务</span>
      <span class="des">也可以基于模版快速配置：</span>
      <div class="wra task-type">
        <a href="javascript:;" class="item" data-id = 1>运算型任务</a>
        <a href="javascript:;" class="item" data-id = 2>网络型任务</a>
        <a href="javascript:;" class="item" data-id = 3>存储型任务</a>
      </div>
    </div>
    <div class="body">
      <div class="content_">
        <div class="job">
            <div class="info">
              <div class="item1 item2">
                <div class="title-wra">
                  <span class="title">项目名称：</span>
                  <div class="icon-wra">
                    <i class="icon icon-spe" data-id = 1>?</i>
                    <span class="tips">查看右侧帮助</span>
                  </div>
                </div>
                <input class="con form-control set-name job-name" type="text" name="EntryName" placeholder="Name for the job, need to be unique. Value must match the pattern ^[A-Za-z0-9-._~]+$.">
              </div>
              <div class="item2" style="width: 100%;">
                <div class="title-wra">
                  <span class="title">镜像：</span>
                  <div class="icon-wra">
                    <i class="icon icon-spe" data-id = 2>?</i>
                    <span class="tips">查看右侧帮助</span>
                  </div>
                </div>

                <div class="input-group">
                  <input type="text" class="form-control"  aria-label="..." name="MirrorImage" placeholder="Please input or select an image" style="border-radius: 4px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" id="imageSet">
                    </ul>
                  </div><!-- /btn-group -->
                </div><!-- /input-group -->


              </div>

              <div class="item1 item2">
                <div class="title-wra">
                  <span class="title">retryCount:</span>
                  <div class="icon-wra">
                    <i class="icon" data-id = 4>?</i>
                    <span class="tips">查看右侧帮助</span>
                  </div>
                </div>
                <input class="con form-control set-number" type="text" name="RetryCount" placeholder="Job retry count, job will automatically restart when it failed">
              </div>
            </div>
            <div class="desc">
              <div class="title-wra">
                <span class="title">项目简介:</span>
                <div class="icon-wra">
                  <i class="icon" data-id = 5>?</i>
                  <span class="tips">查看右侧帮助</span>
                </div>
              </div>
              <textarea class="con form-control" type="text" name="ProjectIntroduction" value="" placeholder="请输入对项目的简单描述..."></textarea>
            </div>
        </div>
        <div class="line"></div>
        <div class="task">
          <div class="navs">
            <ul>
              <li class="task-item active" data-id="aab26cae-421f-9d7f">
                <span class="name">Task1</span>
                <i class="del task-del">X</i>
              </li>
            </ul>
            <div class="add-btn">
              <i class="icon">+</i>
              <span class="add-con">添加任务</span>
            </div>
          </div>
          <div class="con-son">
            <div class="son-item1 son-item-spe">
              <div class="title-wra">
                <span class="title">Name:</span>
                <div class="icon-wra">
                  <i class="icon" data-id = 6>?</i>
                  <span class="tips">查看右侧帮助</span>
                </div>
              </div>
              <input class="son-val form-control set-name2 is-unfilled" type="text" name="TaskName" placeholder="name" maxlength="12">
            </div>
            <div class="son-item1  son-item-spe">
              <div class="title-wra">
                <span class="title">task number:</span>
                <div class="icon-wra">
                  <i class="icon" data-id = 7>?</i>
                  <span class="tips">查看右侧帮助</span>
                </div>
              </div>
              <input class="son-val form-control set-number is-unfilled" type="text" name="TaskNumber" placeholder="Value must be greater than 0.">
            </div>
            <div class="son-item1 son-item-spe">
              <div class="title-wra">
                <span class="title">minSucceededTaskCount:</span>
                <div class="icon-wra">
                  <i class="icon" data-id = 8>?</i>
                  <span class="tips">查看右侧帮助</span>
                </div>
              </div>
              <input class="son-val form-control set-number" type="text" name="MinTasks" placeholder="null or no less than 1">
            </div>
            <div class="son-item1">
              <div class="title-wra">
                <span class="title">minFailedTaskCount:</span>
                <div class="icon-wra">
                  <i class="icon" data-id = 9>?</i>
                  <span class="tips">查看右侧帮助</span>
                </div>
              </div>
              <input class="son-val form-control set-number" type="text" name="RetryTimes" placeholder="null or no less than 1">
            </div>
            <div class="son-item1  son-item-spe">
              <div class="title-wra">
                <span class="title">cpu number:</span>
                <div class="icon-wra">
                  <i class="icon icon-spe" data-id = 10>?</i>
                  <span class="tips">查看右侧帮助</span>
                </div>
              </div>
              <input class="son-val form-control set-number is-unfilled" type="text" name="CPUNumber" placeholder="Value must be greater than 0.">
            </div>
            <div class="son-item1 son-item-spe">
              <div class="title-wra">
                <span class="title">gpu number:</span>
                <div class="icon-wra">
                  <i class="icon icon-spe" data-id = 11>?</i>
                  <span class="tips">查看右侧帮助</span>
                </div>
              </div>
              <input class="son-val form-control set-number is-unfilled" type="text" name="GPUNumber" placeholder="no less than 0">
            </div>
            <div class="son-item1  son-item-spe">
              <div class="title-wra">
                <span class="title">memory:</span>
                <div class="icon-wra">
                  <i class="icon icon-spe" data-id = 12>?</i>
                  <span class="tips">查看右侧帮助</span>
                </div>
              </div>
              <input class="son-val form-control set-number is-unfilled" type="text" name="Memory" placeholder="Value must be at least 100.">
              <span class="company">MB</span>
            </div>
            <div class="son-item1">
              <div class="title-wra">
                <span class="title">Shared memory:</span>
                <div class="icon-wra">
                  <i class="icon icon-spe" data-id = 13>?</i>
                  <span class="tips">查看右侧帮助</span>
                </div>
              </div>
              <input class="son-val form-control set-number" type="text" name="SharedMemory" placeholder="no more than memory size">
              <span class="company">MB</span>
            </div>
            <div class="son-item1 son-item2">
              <div class="title-wra">
                <span class="title">commond:</span>
                <div class="icon-wra">
                  <i class="icon icon-spe" data-id = 14>?</i>
                  <span class="tips">查看右侧帮助</span>
                </div>
              </div>
              <textarea class="commond form-control is-unfilled" name="Commond" placeholder="Executable command for tasks in the task role, can not be empty.Value must match the pattern \S+."></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="des suggest">
        <div class="head">
          <i class="icon">?</i>
          <span class="title">教我怎么选</span>
        </div>
        <dl class="con-hd">
          <dt>点击选项旁的“？”获取帮助</dt>
          <dd></dd>
        </dl>
        <dl class="con-bd">
        </dl>
      </div>
    </div>
    <div class="submit">
      <div class="submit-file">
        <input class="file-btn" type="button" name="fileBtn" value="导入">
        <input class="file" type="file" name="selectFile" accept=".json">
        <input class="export" type="button" name="exportFile" value="导出">
      </div>
      <a class="submit-btn" name="SubmitBtn" href="javascript:void(0);">提交</a>
    </div>
    <div class="popup-custom"></div>
    <div class="mask_"></div>
  </div>
  <%= loading() %>
</section>
