<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <h3>View Services</h3>
      <div class="box">
        <div id="service-table" class="box-body table-responsive table-condensed" >
          <%= serviceTable({ data: [] }) %>
        </div>
      </div>
    </div>
  </div>
  <%= loading() %>
</section>
