
<section class="content" style="padding: 0;">
  <div class="leinao-container">
    <div class="login-wrap">
      <div class="login-box" style="margin:0px;">

            <div style="margin-top:40px;">
                <img  style="float:left;height: 120px;width:120px;" src = "/assets/img/icon-openi.png"/>
                <div style="line-height:120px;text-align: center;vertical-align: middle;font-size: 30px;font-weight: bold">启智开源平台</div>
            </div>
        <form id="form-login" class="form-wrap">
            <div class="form-group">
              <input id="email" name="email" class="form-control" type="text" value="" placeholder="用户名">
              <span id ="username_err" style="color: red;display: none;">please write email</span>
            </div>
            <div class="form-group">
              <input id="password" name="password" class="form-control" type="password" textmode="password" value="" placeholder="密码">
              <span id ="pwd_err" style="color: red;display: none;">please write password</span>
              <span id ="resp_msg" style="color: red;display: none;">password error</span>
            </div>
            <!--<p class="form-group-text">
              <a class="link-group" href="javascript:;">忘记密码？</a>
            </p>-->
            <div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top: 40px">登录</button>
            </div>
            <div id="err_txt">

            </div>
        </form>
      </div>
      <div class="col-right">
        <dl class="mod-box mod-mt clearfix">
          <dt class="icon-jq"></dt>
          <dd>
            <h4>全面拥抱Docker</h4>
          </dd>
          <dd>
            <p>所有任务运行在Docker容器中，用户可以定制个性化环境，一次配置，随处运行。</p>
          </dd>
        </dl>
        <dl class="mod-box clearfix">
          <dt class="icon-jh"></dt>
          <dd>
            <h4>更直观的交互页面</h4>
          </dd>
          <dd>
            <ul>
              <li>Web端提交任务</li>
              <li>可视化显示资源利用率</li>
              <li>Web端查看任务日志</li>
            </ul>
          </dd>
        </dl>
        <dl class="mod-box clearfix">
          <dt class="icon-fb"></dt>
          <dd>
            <h4>分布式训练的支持</h4>
          </dd>
          <dd>
            <p>便捷的分布式训练支持。一次作业提交中可包含多个子任务，各子任务之间通过环境变量可以感知对方，可进行跨机器的多任务训练。</p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>&copy; 启智开源平台</p>
  </div>
</section>