
<section class="content" style="padding: 0;">
  <div class="leinao-container">
    <div class="login-wrap">
      <div class="login-box login-box-ext" style="margin:0px;">

          <div style="margin-top:40px;">
                <img  style="float:left;height: 60px;width:60px;" src = "/assets/img/icon-fav-jspt.png"/>
                <div style="height: 60px;line-height:60px;text-align: center;font-size: 30px;font-weight: bold">启智开源平台</div>
            </div>    


        <div class="title">申请成为开发者</div>
        <form id="form-apply" class="form-wrap">
          <div class="form-group">
            <input id="realname" name="realname" class="form-control" type="text" value="" placeholder="您的真实姓名">
          </div>
          <div class="form-group">
            <input id="phone" name="phone" class="form-control" type="text" value="" placeholder="您的手机号">
          </div>
          <div class="form-group">
            <input id="identity" name="identity" class="form-control" type="text" value="" placeholder="验证码" style="width: 65%; display: inline; margin-right: 30px;">
            <a id="icode" href="#" onclick="alert(1);">获取验证码</a>
          </div>
          <div class="form-group">
            <input id="cardId" name="cardId" class="form-control" type="text" value="" placeholder="您的身份证号码">
          </div>
          <div class="form-group">
            <input id="industry" name="industry" class="form-control" type="text" value="" placeholder="行业" style="width: 30%; display: inline; margin-right: 10px;">
            <input id="company" name="company" class="form-control" type="text" value="" placeholder="公司名称" style="width: 60%; display: inline;">
          </div>
          <div class="form-group btn-group">
            <!--<button id="submit" class="form-btn" type="button">提交资料</button>-->
            <button class="form-btn btn btn-lg btn-primary btn-block"  style="border-top-right-radius:4px;border-bottom-right-radius:4px;">提交资料</button>
            <span class="text">请如实填写您的资料</span>
          </div>
        </form>
      </div>
      <div class="col-right">
        <dl class="mod-box mod-mt clearfix">
          <dt class="icon-jq"></dt>
          <dd>
            <h4>全面拥抱Docker</h4>
          </dd>
          <dd>
            <p>所有任务运行在Docker容器中，用户可以定制个性化环境，一次配置，随处运行。</p>
          </dd>
        </dl>
        <dl class="mod-box clearfix">
          <dt class="icon-jh"></dt>
          <dd>
            <h4>更直观的交互页面</h4>
          </dd>
          <dd>
            <ul>
              <li>Web端提交任务</li>
              <li>可视化显示资源利用率</li>
              <li>Web端查看任务日志</li>
            </ul>
          </dd>
        </dl>
        <dl class="mod-box clearfix">
          <dt class="icon-fb"></dt>
          <dd>
            <h4>分布式训练的支持</h4>
          </dd>
          <dd>
            <p>便捷的分布式训练支持。一次作业提交中可包含多个子任务，各子任务之间通过环境变量可以感知对方，可进行跨机器的多任务训练。</p>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>&copy; 启智开源平台</p>
  </div>
</section>